.main_body {
    grid-area: body;
    overflow: auto;
    width: 100%;
    justify-self: center;
    display: grid;
    align-content: start;

    @media screen and (max-width: 768px){
        
    }
}