.sidebar {
    --side-bar-width: 8rem;
    grid-area: menu;
    display: grid;
    align-content: start;
    gap: 10px;
    padding: 10px;
    width: var(--side-bar-width);
    transition: top 0.5s;
  }
  
  /* Sidebar initially off-screen on smaller screens */
  @media (max-width: 768px) {
    .sidebar {
      position: absolute;
      align-content: space-after;
      gap: 2vh;
      top: -100vh;
      height: 100vh;
      width: 100vw;
      background: rgba(black, 0.95);
      z-index: 100;
    }
  
    .visible {
      top: 0;
    }
  }