.container {
  padding-top: 1rem;
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100%;
}

.jarvisBbuilderAttribute {
  width: 50%;
  justify-content: center;
}

.startChattingButtonContainer {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
}

.selectorsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.userName {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .selectorsContainer {
    flex-direction: column;
  }
}
