.message {
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 16px;
  max-width: 95%;
  word-wrap: break-word;
}

.message.human {
  background: #d1ecf1;
  color: #0c5460;
  align-self: flex-end;
  margin-right: 12px;
}

.message.ai {
  background: #fefefe;
  color: #666;
  align-self: flex-start;
}

.message span {
  display: block;
  font-size: 0.75rem;
  color: #999;
  margin-top: 8px;
}
