.container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  grid-gap: 20px;
  padding: 20px;
}

.continueChattingButtonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.deleteChattingButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
