@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Reset some basic elements */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Link styles */
a {
  color: #0070f3;
  text-decoration: none;
}

/* Add styles for active links */
a:hover {
  text-decoration: underline;
}