@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background-color-light: gray;
  --background-color-dark: #333;

  --text-color-dark: #f4f4f4;
  --text-color-light: #333;

  --navbar-bg-light: #302e2e;
  --navbar-bg-dark: #5e5d5d;

  --navbar-text-light: #000000;
  --navbar-text-dark: #ffffff;
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);

  --navbar-bg: var(--navbar-bg-dark);
  --navbar-text: var(--navbar-text-dark);
}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);

  --navbar-bg: var(--navbar-bg-light);
  --navbar-text: var(--navbar-text-light);
}

.sidebar {
  width: 8rem;
  transition: margin-left 0.5s;
}

.menu-button {
  display: none; /* Hide by default, shown in media query */
  position: fixed; /* Fixed position */
  z-index: 1000; /* Ensure it's above most other elements */
  top: 10px; /* Adjust as needed */
  right: -1.5rem; /* Place on the right */
  background: transparent; /* Optional: make the background transparent */
  border: none; /* Optional: remove border */
  cursor: pointer; /* Change cursor to pointer */
}

/* Sidebar initially off-screen on smaller screens */
@media (max-width: 768px) {
  .sidebar {
    margin-left: -8rem; /* Adjust width as necessary */
    transition: margin-left 0.5s;
  }

  .sidebar.visible {
    margin-left: 0;
  }

  .menu-button {
    display: inline-block; /* or 'block' depending on your layout */
  }
}

/* Sidebar always visible on larger screens */
@media (min-width: 769px) {
  .sidebar {
    margin-left: 0;
    transition: margin-left 0.5s;
  }
}
