@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background-color-light: gray;
  --background-color-dark: #333;

  --text-color-dark: #f4f4f4;
  --text-color-light: #333;

  --navbar-bg-light: #302e2e;
  --navbar-bg-dark: #5e5d5d;

  --navbar-text-light: #000000;
  --navbar-text-dark: #ffffff;

  --bg-ai-message: #f0f0f0; /* Light grey for AI messages */
  --bg-human-message: #d1ecf1; /* Light blue for Human messages */
  --text-color: #333; /* Dark text for light mode */
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);

  --navbar-bg: var(--navbar-bg-dark);
  --navbar-text: var(--navbar-text-dark);

  --bg-ai-message: #2a2a2a; /* Darker grey for AI messages */
  --bg-human-message: #1a5a7a; /* Darker blue for Human messages */
  --text-color: #fff; /* Light text for dark mode */
}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);

  --navbar-bg: var(--navbar-bg-light);
  --navbar-text: var(--navbar-text-light);

  --bg-ai-message: #f0f0f0; /* Light grey for AI messages */
  --bg-human-message: #d1ecf1; /* Light blue for Human messages */
  --text-color: #333; /* Dark text for light mode */
}